.recipe-accordions {
    width: 100%;
}

.accordion {
    font-family: 'Akzidenz-GroteskNextReg', sans-serif;
    font-size: 1rem;
    background-color: #eee;
    color: #1C1304;
    cursor: pointer;
    box-shadow: 0 2px 5px #888888;
    padding: 0.5em;
    max-width: 650px;
    text-align: left;
    border: 2px solid #364771;
    border-radius: 25px;
    outline: none;
    transition: 0.4s;
    margin-top: 1em;
    margin: 1em auto 0 auto;
}

button.active {
    background-color: #eee;
    color: #FDF5F1;
}

.accordion-title {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-right: 0.5em;
}

.panel-expanded {
    padding: 0 18px;
    background-color: transparent;
    overflow: hidden;
    max-height: auto;
    transition: max-height 0.2s ease-out;
}