.App {
    width: 100%;
}

div#root {
    width: 100%;
}

body {
    background: linear-gradient(#4f380b, #fff2bb);
    background-repeat: no-repeat;
    background-attachment: fixed;
} 

.page-content {
    display: flex;
    justify-content: center;
}

.page-heading {
    margin-left: 5%;
    color: antiquewhite;
}

.home-desc {
    font-size: 1.2em;
}