* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    padding-left: 1rem;
}

button {
    font-size: 1rem;
    padding: 0.1em 0.5em 0.1em 0.5em;
    border: 2px solid;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2em;
}

.title {
    font-size: 2em;
    /* display: inline-block; */
}

/* Content */
.page-content {
    margin: 0 3em 0 3em;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}